<h1>Add Employee</h1>
<form method="post" action="/user">
      <div class="form-group">
      <label>Name </label>
      <input type="text" class="form-control" placeholder="Enter Name" name="name" >
    </div>
          <div class="form-group">
      <label>Email </label>
      <input type="email" class="form-control" placeholder="Enter Email" name="email">
    </div>
          <div class="form-group">
      <label>PHone </label>
      <input type="text" class="form-control" placeholder="Enter Phone" name="mobile">
    </div>
          <div class="form-group">
      <label>City </label>
      <input type="text" class="form-control" placeholder="Enter City" name="city" >
    </div>
    <br/>
    <input type="submit" class="btn btn-primary" value="SAVE"/>
</form>